@import "tailwindcss";

@theme {
  /* The "Shopify" Black */
  --color-vendra-black: #1a1a1a;
  --color-vendra-gray: #f6f6f6;
  
  /* Typography */
  --font-sans: "Inter", ui-sans-serif, system-ui;
  
  /* Layout Spacing */
  --spacing-vendra-gate: 4rem;
}

:root {
  background: white;
  color: var(--color-vendra-black);
}